body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
    background: url("../img/map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Map tiles*/

.map-tile{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 2px;
    background: url("../img/tile.jpg");
}

.map-tile:nth-child(1) { top: 10px; 	transform: rotate(20deg);}
.map-tile:nth-child(2) { top: 80px; 	transform: rotate(25deg);}
.map-tile:nth-child(3) { top: 180px;  	transform: rotate(35deg);}
.map-tile:nth-child(4) { top: 260px; 	transform: rotate(7deg);}
.map-tile:nth-child(5) { top: 240px; 	transform: rotate(0deg);}
.map-tile:nth-child(6) { top: 180px; 	transform: rotate(-5deg);}
.map-tile:nth-child(7) { top: 110px;	transform: rotate(-15deg); }
.map-tile:nth-child(8) { top: 60px;	transform: rotate(-10deg); }
.map-tile:nth-child(9) { top: 0px; 	transform: rotate(0deg);}
.map-tile:nth-child(10) { top: 50px; 	transform: rotate(7deg);}

.completed-game {
    opacity: 1 !important;
}

.highlight-button{
    animation: highlightShadow 2s infinite;
}

/*Game modals*/

.modal-content{
    background-color: palegoldenrod;
}

.modal-content img {
    padding: 10px;
    margin: 0 auto;
}

.modal-content input {
    font-size: 50px;
    height: 70px;
}

.addition-game span, .word-game span{
    font-size: 40px;
}

.addition-game input{
    width:50px;
    height:60px;
}


.game-tile {
    position: absolute;
    top:0;
    left:25%;
    width:50%;
    height:90%;
    margin:30px auto;
    z-index: 1;
}
/* when hiding the picture */
.game-tile.ng-hide-add         { animation:0.5s bounceOut ease; }

/* when showing the picture */
.game-tile.ng-hide-remove      { animation:0.5s bounceIn ease; }

/*Color pallete*/

.red{ background-color:red;}
.white{ background-color:white;}
.blue{ background-color:blue;}
.green{ background-color:green;}
.yellow{ background-color:yellow;}
.eraser{ background: url("../img/flag-game/eraser.png") white; background-size: 100% 100%;}

.color-btn{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
}

/*Flags*/

.flag-part {
    border: 1px solid grey;
    height: 80px;
}

.flag {
    width: 400px;
    height: 240px;
}

/*Animations*/

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -ms-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        -ms-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes highlightShadow {
    0%, 100% {
        box-shadow: 0 0 0 white;
    }
    50% {
        box-shadow: 0 0 10px 5px white;
    }
}
